<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../style.css">
</head>
<body>
<header>
    <div class="header-top">
        <img src="../img/logo.png" class="logo">
        <button>Зарегистрироваться | Войти</button>
    </div>
    <ul class="menu">
        <li><a href="">Главная</a></li>
        <li><a href="">Детям</a></li>
        <li><a href="">Волонтёрам</a></li>
        <li><a href="">Спонсорам</a></li>
        <li><a href="">Календарь событий</a></li>
        <li><a href="">Гранты</a></li>
        <li><a href="">Организаторам</a></li>
        <li><a href="">О нас</a></li>
        <li><a href="">Галерея</a></li>
    </ul>
</header>
<main>
    <h1>Мои календарь</h1>
    <nav class="kalendar-nav">
        <button class="left-btn"></button>
        <h2>Календарь событий </h2>
        <button class="right-btn"></button>
    </nav>
    <img src="../img/kalendar.png" class="kalendar-img" alt="">
</main>
</body>
</html>
